body {
  background-color: black;
}

.background {
  display: block;
  margin: auto;
  max-width: 900px;
  max-height: 600px;
  border-radius: 10%;
}

.menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 500px;
}

.start__btn,
.end__btn {
  width: 70px;
  height: 60px;
  margin: 2px;
  font-size: 45px;
  border: 3px solid black;
  border-radius: 20%;
  outline: none;
  cursor: pointer;
  background-color: bisque;
}

.end__btn {
  position: relative;
  bottom: 207px;
  visibility: hidden;
}

.cntdown__timer {
  width: 80px;
  margin: 2px;
  padding: 0 20px;
  font-size: 45px;
  text-align: center;
  border: 3px solid black;
  background-color: white;
  border-radius: 10%;
  font-style: normal;
  cursor: context-menu;
}

.catch__cnt {
  margin: 2px;
  padding: 5px 15px;
  font-size: 40px;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(241, 209, 217);
  border-radius: 50%;
  font-style: normal;
  cursor: context-menu;
}

.img__container {
  position: relative;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
  visibility: hidden;
}

.carrot {
  position: relative;
  cursor: pointer;
}

.bug {
  position: relative;
  cursor: pointer;
  height: 100%;
}

.ctr {
  visibility: hidden;
}

.lose {
  display: block;
  margin: 0 550px;
  text-align: center;
  background-color: rgb(241, 209, 217, 0.7);
  padding: 20px 30px 95px;
  transform: translateY(-250px);
  border-radius: 30px;
  font-size: 40px;
  font-weight: bolder;
  cursor: context-menu;
}

.win {
  display: block;
  margin: 0 550px;
  text-align: center;
  background-color: rgb(241, 209, 217, 0.7);
  padding: 20px 30px 80px;
  transform: translateY(-420px);
  border-radius: 30px;
  font-size: 40px;
  font-weight: bolder;
  cursor: context-menu;
}

.try__again {
  display: block;
  outline: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
  padding: 0 20px;
  background-color: rgba(232, 195, 223, 0.8);
  position: relative;
  bottom: 480px;
  margin: auto;
  visibility: hidden;
}
